@import url("https://fonts.googleapis.com/css2? family = New + Tegomin & family = Roboto: ital, wght @ 1,500 & display = swap");
.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/277/354/502/feelsbadman-pepe-meme-memes-wallpaper-preview.jpg");
  background-size: cover;
  background-color: #444444;
  background-blend-mode: soft-light;
}
.container {
  width: 400px;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  top: 0;
}
.title {
  color: white;
  text-align: center;
}
.meme-template {
  width: 100%;
  position: relative;
}
.image {
  width: 100%;
}
.uppertext,
.lowercase {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  text-shadow: 3px 2px rgb(184, 182, 182);
}
.uppertext {
  top: 0;
  font-family: "Roboto", sans-serif;
}
.lowercase {
  bottom: 0;
  font-family: "Roboto", sans-serif;
}
form {
  max-width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}
.form-input {
  width: 97%;
  padding: 5px;
  margin: auto;
}
.image-memes {
  width: 100px;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid black;
}
.image-memes:hover {
  transform: scale(1.1);
}
.div-meme {
  width: 450px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  float: left;
  background-color: #3f4045;
}
.div-meme h2 {
  text-align: center;
  width: 100%;
  color: whitesmoke;
}
.contactame {
  background-color: rgb(174, 174, 174);
  width: 50%;
  margin: 2rem auto;
  border: 1px solid black;
}
.contactame img {
  width: 50px;
  text-align: center;
  margin-bottom: 20px;
}
.contactame h3 {
  text-align: center;
}
.contactame a {
  width: 100%;
  display: flex;
  justify-content: center;
}
