@import url("https://fonts.googleapis.com/css2? family = New + Tegomin & family = Roboto: ital, wght @ 1,500 & display = swap");
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://pbs.twimg.com/media/EIJD6KkWkAA485G.jpg");
  background-size: 200px;
  background-color: #444444;
  background-blend-mode: soft-light;
}
.container {
  width: 400px;
  display: block;
  margin: 0 auto;
}
.title {
  color: white;
  text-align: center;
}
.meme-template {
  width: 100%;
  position: relative;
}
.image {
  width: 100%;
}
.uppertext,
.lowercase {
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  text-shadow: 3px 2px rgb(184, 182, 182);
}
.uppertext {
  top: 0;
  font-family: "Roboto", sans-serif;
}
.lowercase {
  bottom: 0;
  font-family: "Roboto", sans-serif;
}
form {
  max-width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}
.form-input {
  width: 97%;
  padding: 5px;
  margin: auto;
}
